---
layout: default
title: Home
---
{% include header-home.html %}
<div class="container-full">
  <div class="container grid-xl">
    <div class="columns negative-m-s">
      <div class="column col-12 text-center">
        <h6 class="text-secondary">{{ site.content_type }} Series</h6>
      </div>
      {% for series in site.data.series_list %}
      {% assign category = site.categories[series.name] %}
        <div class="column col-4 col-md-6 col-sm-12">
          <a href="{{ site.baseurl }}/{{ series.name | slugify }}">
            <div class="card card-link">
              <div class="card-body text-center my-6">
                <h5 class="text-bold">seriesname {{ series.name }}</h5>
                <h5 class="text-bold">categoryname {{ category[0] }}</h5>
                    
                {% if category[1].size == 1 %}
                <p class="m-0">{{ category[1] | last | size }} article</p>
                {% else %}
                <p class="m-0">{{ category[1] | last | size }} articles</p>
                {% endif %}

              </div>
            </div>
          </a>
        </div>
      {% endfor %}
      <div class = "column col-12">
        <div class = "card card-link text-center">
          <a id = "linkShowHideBlogMap">show / hide blog map</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id = "divBlogMap" class="column col-12 text-center">
  <img src="{{ site.baseurl }}/assets/images/map.png" alt="..." style = "width:100%;">
  whitespace removed with <a href = "https://onlinepngtools.com/create-transparent-png">onlinepngtools.com</a>
</div>
<script type = "text/javascript">
  $("#linkShowHideBlogMap").click(function() {
    $("#divBlogMap").slideToggle(function() {
      console.log('show/hide')
    });
  })
</script>
<div class="container-full">
  <div class="container grid-xl">
    <div class="columns">
      {% include more-help.html %}
    </div>
  </div>
</div>
