<div class="column col-12">
  <a href="{{ site.url }}{{ category.link }}">
    <div class="card card-link my-1" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
      <div class="card-body">
        <div class="columns col-x-align">
          <div class="column col col-sm-12">
            <h5 class="text-semibold m-0">{{ category.name }}</h5>
            <p class="m-0 text-dark">{{ category.description }}</p>
          </div>
          {% if category.image} %}
            <div class="column col col-sm-12 text-right">
              <img src = "{{ site.url }}{{ category.image }}">
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
