<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>Content Issues</h5>
  <p>If you have any issues / contributions</p>
  <a href="{{ site.github_url }}/issues">GitHub <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>
<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>Linked In</h5>
  <p>Feel free to reach out!</p>
  <a href="{{ site.linkedin_page }}" target="_blank">LinkedIn <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>
<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>Notifications / Updates</h5>
  <p>In case you want notifications</p>
  <a href="{{ site.url }}/feed.xml" target="_blank">RSS <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>
