<nav class="container grid-xl navbar">
  <div class="flex-vertical-center hide-sm">
    <p class="m-0 ml-2 text-light d-inline">{{ site.full_name }}</p> - <p class="m-0 ml-2 text-light d-inline">{{ site.content_type }}</p>
  </div>
  <div class="text-center show-sm">
    <a style="width: 100%;" href="{{ site.url }}{{ site.baseurl }}" class="logo flex-centered">
    
    </a>
    <p class="m-0 text-light">{{ site.content_type }}</p>
    <a style="height: auto;" class="btn btn-lg btn-outline py-2 mt-4" href = "{{ site.url }}">Return to {{ site.brand_name }} Home</a>
  </div>
  <ul class="main-nav">
    <li class="mx-4">
      <a class="nav-links" href="{{ site.url }}">Github</a>
    </li>
    <li class="mx-4">
      <a class="nav-links" href="{{site.github_url_raw}}{{page.path}}">Edit this page</a>
    </li>
    <li>
      <a href="{{ site.url }}" style="height: auto;" class="btn btn-lg btn-outline py-2">Return Home</a>
    </li>
  </ul>
</nav>
