<div>
  {% if site.use_authors == true %}
  {% assign post_author = site.data.authors[page.author] %}
    <div class = "text-right">
      <p class="text-dark text-small mb-0">Written by <span class="text-primary">{{ post_author.name }}</span></p>
      <p class="text-dark text-small text-italic mb-0">{% include reading-time.html %}</p>
    </div>
  {% endif %}
</div>

<!--
{% if site.use_authors == true %}
{% assign post_author = site.data.authors[page.author] %}
  <div class="container">
    <div class="columns">
      <div class = "column col-6">
        <figure class="avatar d-inline-block" style="align-items: center;">
          <img  src="../assets/{{ post_author.image }}" alt="...">
        </figure>
        <div class="ml-2">
          <p class="text-dark text-small mb-0">Written by <span class="text-primary">{{ post_author.name }}</span></p>
          <p class="text-dark text-small text-italic mb-0">{% include reading-time.html %}</p>
        </div>
      </div>
      <div class = "column col-6">
        {% include post-skill.html %}
      </div>
    </div>
  </div>
{% else %}
  <div class="ml-2">
    <p class="m-0 text-small">Last updated:</p>
    <p class="text-dark text-small text-italic mb-0">{{ page.last_modified_at | date: '%B %d, %Y'  }} - {% include reading-time.html %}</p>
  </div>
{% endif %}
-->
