<div class="container grid-xl">
  <div class="columns">
    {% if page.prevPost %}
    <div class = "column col-3 col-md-4 col-sm-12 col-xs-12">
      <a
        style="height: auto; width:100%;"
        class="btn btn-success btn-lg btn-outline py-2 mt-4"
        href = "{{ site.baseurl }}{{page.prevPost.link}}">
          {{ page.prevPost.text }}
      </a>
    </div>
    {% endif %}
    <div class = "column col-6 col-md-4 col-sm-12 col-xs-12">
    {% if page.nextPost %}
    </div>
    <div class="column col-3 col-md-4 col-sm-12 col-xs-12">
      <a
        style="height: auto; width:100%;"
        class="btn btn-success btn-lg btn-outline py-2 mt-4"
        href = "{{ site.baseurl }}{{page.nextPost.link}}">
          {{ page.nextPost.text }}
      </a>
    </div>
    {% endif %}
  </div>
</div>
