@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  border: 2px solid #212529;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-weight:600;
}
.bar::before{
  content: attr(data-skill);
  background-color: #212529;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #a6cfe3;
}

.bar.one::before{
  width: calc(20% - 10px);
}
.bar.two::before{
  width: calc(40% - 10px);
}
.bar.three::before{
  width: calc(60% - 10px);
}
.bar.four::before{
  width: calc(80% - 10px);
}
.bar.five::before{
  width: calc(100% - 10px);
}
