---
layout: default
---

{% include header.html %}
<div class="container-full">
  <div class="container grid-xl">
    <div class="mt-12 show-md"></div>
    <div class="mt-8"></div>
    <div class="columns negative-m-xl">
      <div class="column col-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ site.url }}{{ site.baseurl }}">{{site.content_type}} Home</a>
          </li>
          {% assign page-path-parts = page.url | split: '/' %}
          {% for path in page-path-parts %}
            {% if path != "" %}
              {% assign c = site.data.category_details[path] %}
              {% if c %}
                <li class="breadcrumb-item">
                  <a href="{{ site.url }}/{{ c.link }}">{{ c.name }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
          <li class="breadcrumb-item">
            <a href="#">{{ page.title }}</a>
          </li>
        </ul>
        <h2 class="text-light text-bold">
          {% assign category = site.data.category_details[page.category] %}
          {% if category.image %}
            <img src = "{{ category.image }}" style = "height:30px; max-width:50px;">
          {% endif %}
          {{ page.title }}
        </h2>
        <p class="text-light mb-0">{{ page.short-description }} - <a href = "{{page.path}}">edit</a></p>
      </div>
      <div class="column col-12">
        <div class="card">
          <div class="card-body">
            {% include post-skill.html %}
            {% include post-navigation.html %}
            <div class="container" style = "margin-top:10px;">
              <div class="columns">
                <div class = "column col-6 col-sm-12 col-xs-12">
                  {% include post-authors.html %}
                </div>
                <div class = "column col-6 col-sm-12 col-xs-12">
                  {% include post-reading-time.html %}
                </div>
              </div>
            </div>
            {% include post-docs.html %}
            {% include post-tips.html %}
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            {{ content }}
            <a
              style="height: auto; width:100%;"
              class="btn btn-lg btn-outline btn-info py-2 mt-4 btnBackToTop"
              href = "#">
                Back to top
            </a>
          </div>
        </div>
        {% include post-tags.html %}
      </div>
      {% include more-help.html %}
    </div>
  </div>
</div>
